{% extends 'base.html' %}

{% block body %}

    <div class="col-ms-12 col-md-6">
        <div class="container-fluid">
             <div class="details-container">
                {% if manager %}
                    {{ manager.user.id }} {{ manager.user.first_name }} {{ manager.user.last_name }} {{ manager.point_of_care }}
                {% else %}
                    <h2>Nie ma manadżera do wyświetlenia</h2>
                {% endif %}
             </div>
        </div>
    </div>

{% endblock %}